/django-env
/.idea
/.vscode
/Pets/.vscode
/Site/p_library/__pycache__
/Site/p_library/migrations/__pycache__
/Site/Site/__pycache__
/Pets/animal_shelter/__pycache__
/Pets/Pets/__pycache__
/Site/pets/__pycache__/
/Pets/animal_shelter/migrations/__pycache__/
