<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'animal_shelter/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'animal_shelter/css/pets.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'animal_shelter/js/bootstrap.min.js' %}"></script>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>
        {% block title_page %} {% endblock title_page %}
    </title>
</head>
<body class="container">

<header>
    {% block header %} {% endblock header %}
    <nav>
        {% block nav %} {% endblock nav %}
    </nav>
</header>

<main>
    {% block main %} {% endblock main %}
</main>
<footer>
    {% block footer %} {% endblock footer %}
</footer>
</body>
</html>