<h3 align="center">Привет, друже! Мы и наши зверушки тебе очень рады!</h3>

<h5>Наша миссия</h5>
<p>
    Ны помогаем зверушкам найти новых хозяев,
    а будущим владельцам питомцев - найти пушистых (не всегда&#x1f601;) друзей!
</p>
<h5>О нас</h5>
<p>
    В нашей стране приютов для кошек совсем немного.
    В нашем приюте более {{ animals.count }} животных, по этому показателю мы пока не являемся крупнейшим частным приютом, но стараемся.
    Подавляющая часть животных принесена к нам добрыми людьми или бывшими хозяевами.
    Зверушки очень разные - ласковые и не очень, своенравные, боязливые, игривые, грустные, веселые.
    И все-все – очень красивые!

    Все приютские сироты мечтают об одном – найти свой дом и любящих хозяев.

    Мы – их единственный шанс выжить и обрести новую жизнь.
    На самом деле любому по силам спасти животное из приюта и подарить ему новую жизнь, тепло, ласку, внимание!
    Поверьте, животные не останутся в долгу. Они подарят вам свою душу, сердце и станут самыми преданными вашими друзьями!
</p>
<hr>