{% load static %}

<ul class="nav justify-content-center nav-tabs">       
    <li class="nav-item"><a class="nav-link" href="{% url 'animal_shelter:features' %}">
    <img src={% static 'animal_shelter/logo/Logo_facebook.png' %} alt="Logo" width="32px">
    </a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'animal_shelter:features' %}">
    <img src={% static 'animal_shelter/logo/Logo_instagram.png' %} alt="Logo" width="32px">
    </a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'animal_shelter:features' %}">
    <img src={% static 'animal_shelter/logo/Logo_Twitter.png' %} alt="Logo" width="32px">
    </a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'animal_shelter:features' %}">
    <img src={% static 'animal_shelter/logo/Logo_vk.png' %} alt="Logo" width="32px">
    </a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'animal_shelter:features' %}">
    <img src={% static 'animal_shelter/logo/Logo_Whatsapp.png' %} alt="Logo" width="32px">
    </a></li>
</ul>