<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/pets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/pets/css/pets.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'style/pets/js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>
        {% block title_page %} {% endblock title_page %}
    </title>
</head>
<div class="grid-container container">
    <header>
        {% block header %} {% endblock header %}
    </header>
    <main class="container">
        {% block main %} {% endblock main %}
    </main>
    <footer>
        {% block footer %} {% endblock footer %}
    </footer>
</div>
</html>